*{
   margin: 10px;
}
.header{
   height: 300px;
   background-image: url('http://127.0.0.1:5500/Prog-Hero_Batch_10/Projects/images/pedro-miranda-NOLUMyoDbZE-unsplash-small.jpg');
   /* background-image: url('../'); */
   /* background-image: url('//D:/'); */
   background-color: beige;
   background-repeat:repeat;
   background-size: 200px;
   
   
}
h3{
   font-size: 30px;
   text-decoration: overline;
}
.blog{
   margin: 40px;
   border-radius: 5px;
   border-width: 50px;
   border: 10px solid;
   border-color: blueviolet;
   background-color: azure;
   box-shadow: 10px 10px 20px rgb(214, 214, 110);
   font-size: medium;
}
.second{
   background-color: azure;
   box-shadow: 10px 10px 20px rgb(214, 214, 110);
   font-size: medium;
   font-family: 'Lucida Sans';
}
.incident{
   border: 2px solid purple;
   margin: 20px;
   height: 200px;
   padding: 20px;
   display: block;
   /* display: inline-block; */
}
li{
   display: inline;
}